<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/chat_logo.png') }}">

    <title>Flack Chat</title>

    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
<!-- Modal -->
<div class="modal fade" id="userNameModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Welcome to Flack Chat</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label"> Please Enter nickname: </label>
                    <input type="text" class="form-control" id="userName">
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalBtn" type="button" class="btn btn-primary" data-dismiss="modal"> Let's Chat !
                </button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <h5 id="user" class="navbar-brand col-sm-3 col-md-2 mr-0">Welcome user</h5>
    <h4 style="color:white;"> Flack Webchat</h4>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a id="signout" class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-1 text-muted">
                    <span  id="createChannelTag" class="createChannelName" >Create Channel</span>
                </h6>
                <div class="align p-3 align-items-center">
                    <a class="d-flex justify-content-between align-items-center text-muted" href="#">
                        <input id="channelInput" type="text" name="" value="">
                        <span id="channelCreate" data-feather="plus-circle"></span>
                    </a>
                </div>
                <ul id="channelsList" class="nav flex-column">
                    <li class="nav-item">
                        <a  id="navLinkHead" class="nav-link active" href="#">
                            <span style=" width:27px; height:27px;" data-feather="hash"></span>
                            PUBLIC CHANNELS <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <ul id="usersList" class="nav flex-column">
                    <li class="nav-item">
                        <a style="font-size: 20px; color:black;" class="nav-link active" href="#">
                            <span style=" width:27px; height:27px; color:black;" data-feather="hash"></span>
                            ONLINE USERS <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 border-bottom">
                <h1 id="roomName" class="text-center">Room Name</h1>
            </div>
            <ul id="conversationList" class="list-group list-group-flush overflow-auto">
                <li class="list-group-item"> message Teste</li>
            </ul>
        </main>
    </div>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="input-group pt-3">
            <textarea id="textMessage" class="form-control p-3" aria-label="With textarea"></textarea>
            <button id="sendBtn" type="button" class="btn btn-primary btn-lg ml-4">SEND</button>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>
</html>
